/* make container flex */
#cat_List {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 80px;
  align-items: stretch;
  /* align-items: center; */
}

body {
  background-color: #01011b;
} /* #e1eedd; */

/* set anchor tag text properties */
input {
  padding: 20px;
}

img {
  border-radius: 20px;
}
#searchwrapper {
  align-items: center;
  margin-left: 32%;
  padding: 5px;
}
h1 {
  text-align: center;
  /* text-shadow: 12px 12px black; */
  font-family: "Georgia";
  font-weight: 800px;
  color: white;
}
a {
  font-size: 22px;
  font-weight: 600px;
}
h1 {
  text-shadow: 15px black, 15px white;
}
#searchBar {
  width: 50%;
  height: 50px;
  border: 4px solid black;
  border-radius: 20px;
  font-size: 30px;
}
#searchBar:hover {
  box-shadow: 0 10px 15px rgb(5 5 5 / 10);
}

.items {
  margin-top: 30px;
  width: 450px;
  height: 450px;
  border: none;
  list-style: none;
  text-align: center;
}

.items img {
  border-radius: 30px;
  display: inline-block;
  /* margin: 30px; */
  padding: 10px;
  width: 350px;
  height: 350px;
}

img {
  pointer-events: none;
  /* position: relative; */
  transform: translateY(20px) scale(1.15);
  transform-origin: 0% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.items:hover img {
  transform: translateY(0) scale(1.2);
  box-shadow: rgba(70, 68, 68, 0.56) 50px 30px 70px 10px;
  cursor: pointer;
}

@media screen and (min-width: 760px) {
  .img {
    float: none;
    width: 100%;
  }
}
